In [2]:
import pandas as pd
from tqdm import tqdm

In [22]:

df = pd.DataFrame()
for num in tqdm(range(0,168)):
    df_unit = pd.read_csv("/Users/avitr/OneDrive/Desktop/archive (2)/code/Small LCL Data/LCL-June2015v2_"+str(num)+".csv")
    #df_unit = pd.read_csv("/Users/amt47/Downloads/Small LCL Data/LCL-June2015v2_"+str(num)+".csv")
    df_unit['date'] = pd.to_datetime(df_unit.DateTime,infer_datetime_format=True).dt.date
    df_unit.set_axis(['LCLid', 'stdorToU', 'DateTime', 'energy', 'day'], axis=1, inplace=True)
    df_unit = df_unit[df_unit['energy'] != 'Null']
    df_unit.energy = df_unit.energy.astype(float).fillna(0.0)
    df_unit = df_unit.groupby(['LCLid','day'])['energy'].sum().reset_index()
    df_unit = df_unit[['day','LCLid','energy']]
    #df.to_csv("hc_"+str(num)+".csv")
    df = pd.concat([df, df_unit], axis=0)

100%|████████████████████████████████████████████████████████████████████████████████| 168/168 [05:58<00:00,  2.13s/it]

In [27]:
df.shape

(3510568, 3)

In [28]:
df.head()

          day      LCLid  energy
0  2012-10-12  MAC000002   7.098
1  2012-10-13  MAC000002  11.087
2  2012-10-14  MAC000002  13.223
3  2012-10-15  MAC000002  10.257
4  2012-10-16  MAC000002   9.769

In [29]:
df.to_csv('energy_LCL.csv', index=False )